.whyussection {
  background-color: rgb(44, 69, 117);
  border-radius: 8px;
  color: #ffffff;
  width: 100%;
  padding-bottom: 1px;
}
.sectiontitle {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}
.featureitem {
  margin: 40px auto;
  width: 95vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  height: 100%;
}

.featureitem h3 {
  font-family: "Mulish", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.order_btn {
  align-items: center;
  background-color: rgb(44, 69, 117);
  color: #ffffff;
  border: 5px solid #ffffff;
  padding: 5px 40px;
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 10px;
  border-style: double;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}
.order_btn:hover {
  background-color: #3b619e;
  border-color: #f0f0f0;
  color: #f0f0f0;
}
.order_btn:active {
  background-color: #2c4575;
  border-color: #cccccc;
}

.featureitem p {
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  line-height: 1.6;
}
.contenttext {
  width: 100%;
}

.svg {
  display: block;
  width: 400px;
  height: 300px;
}
.contentimage {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 300px;
  order: 10;
  padding: 20px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25),
    inset 0 0 0 1px rgba(41, 29, 29, 0.08);
}

.order {
  text-align: center;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}
.invitation {
  font-size: 30px;
  padding: 25px;
}
.invdscrp {
  font-size: 16px;
  font-family: "Mulish";
  padding: 25px;
}

@media (min-width: 768px) {
  .featureitem {
    flex-direction: row;
    margin: 40px auto;
    width: 95vw;
    max-width: 1080px;
    justify-content: center;
  }

  .contenttext {
    width: 60%;
  }
  .featureitem.reverse {
    flex-direction: row-reverse;
  }
  .invitation {
    font-size: 60px;
  }
  .invdscrp {
    font-size: 25px;
  }
}
